.videoinfo{
    width: 100% !important;
    height: auto;
    padding: 30px;
}

.videoinfo__stats,
.videoinfo__channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoinfo__headline > h1 {
    font-weight: 600;
    font-size: large;
}

.videoinfo__stats > p {
    font-size: medium;
    color: rgb(88, 88, 88);
    padding-bottom: 20px;
}

.videoinfo__stats > * {
    margin-top: 2px;
}

.videoinfo__likes > * {
    padding-left: 0;
    padding-top: 0;
}

.videoinfo__likes,
.videoinfo__channel > div {
    display: flex;
    align-items: center;
}

hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.videoinfo__channelinfo {
    padding-left: 5px;
}

.videoinfo__channeltitle {
    font-size: medium;
    margin: 2px;
}

.videoinfo__channelsubs {
    color: gray;
    font-size: small;
    margin: 0;
}
.videoinfo__subscribe{
    font-weight: bold;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .videoinfo__headline > h1 {
        font-size: 1.5rem;
    }

    .videoinfo__stats > p {
        font-size: small;
    }

    .videoinfo__channeltitle {
        font-size: small;
    }

    .videoinfo__channelsubs {
        font-size: x-small;
    }
}
@media screen and (max-width: 768px) {
    .videoinfo__headline > h1 {
        font-size: 1.5rem;
    }

    .videoinfo__stats > p {
        font-size: small;
    }

    .videoinfo__channelinfo .videoinfo__channeltitle {
        font-size: small;
    }

    .videoinfo__channelinfo .videoinfo__channelsubs {
        font-size: x-small;
    }
}