/* App.css */

.app__mainpage {
    display: flex;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .loading {
    display: block !important;
    margin: auto;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .text-center {
    text-align: center;
    font-weight: 500;
  }

  .loader-container {
    position: absolute;
    z-index: 9999; /* Ensure loader is on top of other content */
  }
  
  @media screen and (max-width: 480px) {
    .app__mainpage {
      flex-direction: column; /* Adjusting the layout for smaller screens */
    }
  }
  